{% extends "base.html" %}
{% load static %}
{% block extra_title %}Questions{% endblock %}
{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<h1 class="text-center mt-4">Questions</h1>
<hr>
<div class="row">
    <div class="col-12 text-center">
        {% for question in question %}
        <!-- Show all questions -->
        <div class="shadow-sm p-2 mb-4 bg-grey rounded">
            <!-- Question info -->
            <p class="text-black font-weight-bold mb-2 mt-2">Posted by: {{ question.user }} on {{ question.created_on }}</p>
            <p class="mb-2 mt-3">Category: {{ question.question_categories }} </p>
            <p class="mb-2 mt-3">Question: {{ question.question_comment }}</p>
        </div>
        {% endfor %}
    </div>
</div>
<!-- Question Form -->
<div class="row d-flex justify-content-center">
    <div class="col-lg-6 col-md-12 mt-2 pb-3 text-center">
        {% if request.user.is_authenticated %}
            <h3 class="text-uppercase">Add a question</h3>
            <form class="form" method="POST" action="{% url 'questions' %}">
                {% csrf_token %}
                {{ question_form|crispy }}
                <button class="btn btn-dark" type="submit">Add Question</button>
            </form>
        {% else %}
            <div>
                <!-- Links if not logged in -->
                <p>You cannot add a question if you are not logged in</p>
                <a href="{% url 'account_signup' %}">Sign Up</a>
                <a href="{% url 'account_login' %}">Login</a>
            </div>
        {% endif %}
    </div>
</div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    
{% endblock %} 