{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <h1 class="text-uppercase text-center mt-2 mb-2">Instrumenta</h1>
    <hr>
    <p class="text-center">Your store for music</p>
    <!-- Carousel -->
    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <!-- Slide 1 -->
            <div class="carousel-item active">
                <img src="{% static 'media/guitar.jpg' %}" class="d-block mh-100 w-100 carousel-images" alt="Picture of an electric guitar">
                <div class="carousel-caption d-none d-md-block">
                    <h2 class="carousel-text">Order your new guitar <a class="text-white" 
                        href="{% url 'products' %}?category=acousticguitar,electricguitar">here</a></h2>
                    <p class="carousel-text">You wont be disappointed</p>
                </div>
            </div>
            <!-- Slide 2 -->
            <div class="carousel-item">
                <img src="{% static 'media/studio5.png' %}" class="d-block mh-100 w-100 carousel-images" alt="Picture of a mixing board">
                <div class="carousel-caption d-none d-md-block">
                    <h2 class="carousel-text">Best budget studio equipment?</h2>
                    <p class="carousel-text">We have everything you need <a class="text-white" 
                        href="{% url 'products' %}?category=speakers,audiointerface">here</a></p>
                </div>
            </div>
            <!-- Slide 3 -->
            <div class="carousel-item">
                <img src="{% static 'media/violin2.jpg' %}" class="d-block mh-100 w-100 carousel-images" alt="Picture of a violin">
                <div class="carousel-caption d-none d-md-block">
                    <h2 class="carousel-text">Are you a classical musician?</h2>
                    <p class="carousel-text">Look at our <a class="text-white" 
                        href="{% url 'products' %}?category=strings">strings</a> category.</p>
                </div>
            </div>
        </div>
        <!-- Prev and next buttons -->
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

{% endblock %} 