{% extends "base.html" %}
{% load static %}
{% block extra_title %}404 error page{% endblock %}
{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}
{% block content %}
<!-- 404 page -->
<div class="overlay"></div>
<div class="container-fluid px-3 text-center filler-content">
    <div class="row">
        <div class="col-12 col-sm-12 p-4 my-auto">
            <!-- 404 content -->
            <h1 class="font-black">Is this the real life?</h1>
            <p class="font-black">Is this just fantasy?</p>
            <p class="font-black">Caught in a <strong>404</strong>,</p>
            <p class="font-black">No escape from the <strong>404,</strong></p>
            <p class="font-black">Open your eyes, look up to the <a href="{% url 'home' %}">Home page</a> and see.</p>
        </div>
    </div>
</div>
{% endblock %}