{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<!-- Single product page -->
<div class="overlay"></div>
<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-md-6 col-lg-4 offset-lg-2">
            <div class="image-container my-5">
                {% if product.image %}
                <!-- Product image -->
                <a href="{{ product.image.url }}" target="_blank">
                    <img class="card-img-top img-fluid" src="{{ product.image.url }}" alt="{{ product.name }}">
                </a>
                {% else %}
                <a href="{{ MEDIA_URL }}noimage.png">
                    <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                </a>
                {% endif %}
            </div>
        </div>
        <!-- Product info -->
        <div class="col-12 col-md-6 col-lg-4">
            <div class="product-details-container mb-5 mt-md-5">
                <!-- Product name -->
                <p class="mb-0">{{ product.name }}</p>
                <!-- Product price -->
                <p class="lead mb-0 text-left font-weight-bold">${{ product.price }}</p>
                {% if product.category %}
                <!-- Product category -->
                <p class="small mt-1 mb-0">
                    <a class="text-muted" href="{% url 'products' %}?category={{ product.category.name }}">
                        <i class="fas fa-tag mr-1"></i>{{ product.category.friendly_name }}
                    </a>
                </p>
                {% endif %}
                {% if product.rating %}
                <!-- Product rating -->
                <small class="text-muted"><i class="fas fa-star mr-1"></i>{{ product.rating }} / 5</small>
                {% else %}
                <small class="text-muted">No Rating</small>
                {% endif %}
                {% if request.user.is_superuser %}
                <!-- Superuser buttons for edit and delete -->
                <small class="ml-3">
                    <a href="{% url 'edit_product' product.id %}">Edit</a> |
                    <a class="text-danger" href="{% url 'delete_product' product.id %}">Delete</a>
                </small>
                {% endif %}
                <br>
                <small class="btn btn-success ml-3">
                    <a class="text-reset" href="{% url 'add_to_wishlist' product.id %}">Add to Wishlist</a>
                </small>
                <!-- Product description -->
                <p class="mt-3">{{ product.description }}</p>
                <!-- Add product to bag form -->
                <form class="form" action="{% url 'add_to_bag' product.id %}" method="POST">
                    {% csrf_token %}
                    <div class="col-12">
                        <!-- Product quantity -->
                        <p class="mt-3"><strong>Quantity:</strong></p>
                        <!-- Product quantity minus button -->
                        <div class="input-group input-group-{{ product.id }}">
                            <div class="input-group-prepend">
                                <button class="decrement-qty btn btn-black rounded-0 decrement-qty_{{ product.id }}"
                                    data-item_id="{{ product.id }}">
                                    <span>
                                        <i class="fas fa-minus fa-sm"></i>
                                    </span>
                                </button>
                            </div>
                            <!-- Product show quantity -->
                            <input class="form-control qty_input id_qty_{{ product.id }}" type="number" name="quantity"
                                value="1" min="1" max="99" data-item_id="{{ product.id }}">
                            <!-- Product quantity plus button -->
                            <div class="input-group-append">
                                <button class="increment-qty btn btn-black rounded-0 increment-qty_{{ product.id }}"
                                    data-item_id="{{ product.id }}">
                                    <span>
                                        <i class="fas fa-plus fa-sm"></i>
                                    </span>
                                </button>
                            </div>
                            <!-- Keep shopping button and add to bag button -->
                            <div class="col-12">
                                <!-- Keep shopping button -->
                                <a href="{% url 'products' %}" class="btn btn-outline-black rounded-0 mt-5">
                                    <span class="icon">
                                        <i class="fas fa-chevron-left"></i>
                                    </span>
                                    <span class="text-uppercase">Keep Shopping</span>
                                </a>
                                <!-- Add to bag button -->
                                <input type="submit" class="btn btn-black rounded-0 text-uppercase mt-5"
                                    value="Add to Bag">
                            </div>
                            <input type="hidden" name="redirect_url" value="{{ request.path }}">
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <hr>
        <!-- Reviews -->
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="row">
                        <div class="col mb-4">
                            <h2 class="text-uppercase mt-3">reviews</h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            {% for comment in comments %}
                            <!-- Show all reviews -->
                            <div class="shadow-sm p-2 mb-4 bg-grey rounded">
                                <!-- Review info -->
                                <p class="text-black font-weight-bold mb-2 mt-2">Posted by: {{ comment.user }} on {{ comment.created_on }}</p>
                                <p class="mb-2 mt-3">Rating: {{ comment.rating }} </p>
                                <p class="mb-2 mt-3">Review Text: {{ comment.comment }}</p>
                                {% if request.user == comment.user %}
                                <form action="{% url 'delete_review' product.id %}" method="POST">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-danger">Delete</button>
                                </form>
                                {% endif %}
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    <!-- Comment Form -->
                    <div class="row">
                        <div class="col-lg-6 col-md-12 mt-2 pb-3">
                            {% if request.user.is_authenticated %}
                            <h3 class="text-uppercase">Add a review</h3>
                            <form class="form" method="POST" action="{% url 'add_review' product.id %}">
                                {% csrf_token %}
                                {{ review_form|crispy }}
                                <button class="btn btn-dark" type="submit">Add Comment</button>
                            </form>
                            {% else %}
                            <div>
                                <!-- Links if not logged in -->
                                <p>You cannot comment if you ar not logged in</p>
                                <a href="{% url 'account_signup' %}">Sign Up</a>
                                <a href="{% url 'account_login' %}">Login</a>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    {% include 'products/includes/quantity_input_script.html' %}
{% endblock %}